.edit-profile-page {
    max-width: 600px;
    width: auto;
    margin: 0 auto;
    padding: 0 3rem;
    @media (max-width: 768px) {
        padding: 0 4rem;
    }

    @media (max-width: 576px) {
        padding: 0 2rem;
    }
}

.edit-profile-page__title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 40px;
}

.edit-profile-page .field__email {
    margin-bottom: 1.5rem;
}