.challenges-page {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;
    height: 100%;
}

.challenges-page__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: left;
}


.challenges-page__without {
    margin-top: calc(70vh / 4);
}

.challenges-page__cloud-image {
    width: 80px;
    margin: 0 auto;
}

.challenges-page__without h2 {
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
}

.challenges-page__without p {
    font-size: 16px;
    font-weight: 600;
    color: #6B6B6B;
    margin-top: 10px;
}