.main {
    padding: 4rem 16.1rem;

    @media (max-width: 768px) {
        padding: 2rem 2rem;
    }

    @media (max-width: 576px) {
        padding: 1rem 1rem;
    }
}

.profile__list-events__title {
    font-size: 36px;
    margin-top: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}