.main {

    @media (max-width: 768px) {
        padding: 0;
    }

    @media (max-width: 576px) {
    }
}

.section-profile {
    display: block;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.profile-cover {
    position: relative;
    background: #55A3FF;
    height: 300px;
    z-index: -11;
}

.profile {
    background: #fff;
    border-radius: 40px 40px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    min-height: 100vh;
    height: 100%;
    z-index: 0;
}

.profile__info {
    margin-top: 100px;
}

.profile__info-item {
    text-align: center;
}

.profile__info-item-value {
    font-weight: 800;
    font-size: 24px;
}



.profile__list-events__title {
    font-size: 36px;
    font-weight: 700;

}

.profile-controls {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
}

.profile-settings__button {
    width: 57px;
    height: 57px;
    background: #55A3FF;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-logout__button {
    width: 57px;
    height: 57px;
    background: #FF1368;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel__tab {
    min-height: 60px;
}

.profile__list-events:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    margin-top: 80px;
}

.profile__challenges {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    margin-top: 50px;
}

.profile__attended-event {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 80px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
    }
}



.panel__tab-content {
    font-weight: 700;
}