.bottom-navbar {
    z-index: 9;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    width: 90%;
    height: 80px;
    background: #3035E2;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20px;
    border-radius: 200px;
}

.bottom-navbar__active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;

}

.bottom-navbar__active-circle {
    position: absolute;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-navbar__icon {
    width: 36px;
    height: 36px;
}